.jumbotron{    
    background-color: white;
    padding: 0%;      
    margin: 0%;
    height: 100px;
}

.btn:hover{
    background-color: yellow;
    color: black;
}

.btn.btn-link:hover{
    background-color: #f7f7f7;
    color: black;
}
footer{
    padding: 10px 10px 0 10px;
    background-color: rgb(251, 251, 133);
    margin-bottom: 0px;
    margin-top: 10px;
    color: green;
}

.card-hotel{
    flex: 1 200px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.btn-reserva{
    width: 100%;
    border-radius: 0px;
}
footer a {
    color: green;
}

