$yellow:#fce726;

@mixin margenes($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron{    
    background-color: white;
    padding: 0%;      
    @include margenes(50px, 0);
    height: 100px;
}

.btn:hover{
    background-color:$yellow;
    color: rgb(10, 9, 9);
}

.btn.btn-link:hover{
    background-color: #f7f7f7;
    color: black;
}
footer{
    padding: 10px 10px 0 10px;
    background-color: rgb(251, 251, 133);
    @include margenes(10px, 0);
    color: green;
}

.card-hotel{
    flex: 1 200px;
    @include margenes(10px, 5);
}

.btn-reserva{
    width: 100%;
    border-radius: 0px;
}
footer a {
    color: green;
}


