.jumbotron {
  background-color: white;
  padding: 0%;
  margin-top: 50px;
  margin-bottom: 0;
  height: 100px; }

.btn:hover {
  background-color: #fce726;
  color: #0a0909; }

.btn.btn-link:hover {
  background-color: #f7f7f7;
  color: black; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #fbfb85;
  margin-top: 10px;
  margin-bottom: 0;
  color: green; }

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 5; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

footer a {
  color: green; }
