@yellow: #fce726;

.margenes(@top: 0px, @bottom:0px){
    margin-top: @top;
    margin-bottom: @bottom;
}


.jumbotron {
    background-color: white;
    padding: 0%;
    .margenes(50px, 0px);
    height: 100px; }
  
  .btn:hover {
    background-color: @yellow;
    color: black; }
  
  .btn.btn-link:hover {
    background-color: #f7f7f7;
    color: black; }
  
  footer {
    padding: 10px 10px 0 10px;
    background-color: #fbfb85;
    .margenes(10px, 0px);    
    color: green; }
  
  .card-hotel {
    flex: 1 200px;
    .margenes(10px, 5px);     
    }
  
  .btn-reserva {
    width: 100%;
    border-radius: 0px; }
  
  footer a {
    color: green; }
  